@import "tailwindcss";

@theme {
  --font-sans: "Gilroy", system-ui, sans-serif;
}

@layer base {
  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

html,
body {
  @apply bg-bg text-text;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  cursor: pointer;
}
